header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;

    background: var(--color-bg-light);
    border-bottom: 3px solid rgb(100,18,18);
    z-index: 999;

    box-sizing: border-box;   /* keep this */
}
.app.dark header
{
    background-color: var(--color-bg-dark);
    box-shadow:0 3px 10px rgba(0,0,0,0.5);
}
header .logo h1
{
    font-size:1.5rem;
    text-transform:capitalize;
    color:#ff4d4d;
    margin:10px 0;
    text-align:center;
    letter-spacing:0.5px;
    transition: 0.3s ease;
    margin-left:10px;
    
}
header .header-controls{
    display:flex;
    gap:15px;
    align-items:center;
    flex-wrap:wrap;

}
header .header-controls input[type="text"]
{
   padding:10px 14px;
   border-radius: 10px;
   border:1px solid #ccc;
   outline:none;
   font-size:0.95rem;
   transition:all var(--transition-speed) ease;

}
header .header-controls input[type="text"]:focus{
border-color:var(--color-accent);
box-shadow:0 0 8px rgba(255,77,77,0.2);

}
header .header-controls select{
    padding:10px 14px;
    border-radius:10px;
    border:1px solid #ccc;
    outline:none;
    font-size:0.95rem;
    transition:all var(--transition-speed) ease;

}
header .header-controls select:focus{
    border-color:var(--color-accent);
    box-shadow:0 0 8px rgba(255,77,77,0.2);
    


}
.search 
{
    margin-right:300px;
    width:500px;

}

header .header-controls label
{
    display:flex;
    align-items: center;
    font-size:0.95rem;
    cursor:pointer;
    margin-right:50px;
}
@media(max-width:480px)
{
    header{
                
        height:fit-content;

    

    }
    header .header-controls input[type="text"]
{
   padding:7px 9px;
   border-radius: 8px;
   width:250px;
   margin-right:400px;

}
header .header-controls select{
    padding:6px 7px;
    border-radius:8px;
   
}
}